<suite name="Suite1" parallel="tests" thread-count="2">
	<test name="LoginTest - FF">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.dice.LoginTest">
				<methods>
					<include name="positiveLoginTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="LoginTest - CH">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.dice.LoginTest">
				<methods>
					<include name="positiveLoginTest" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
